.login-wrapper {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color-light);
}

.login-section {
  height: 80vh;
  width: 50rem;
  margin: 2rem;
  margin-left: 4rem;
  padding: 2rem 4rem;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--secondary-color);
}

.login-heading {
  color: var(--txt-color);
}

.secondary-txt-container {
  text-align: center;
  margin-left: 1rem;
}

.txt-secondary {
  display: inline-block;
}

.txt-separator {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 640px) {
  .logo-section {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .login-section {
    margin: 0;
    box-shadow: none;
  }
}
