.content-wrapper {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color-light);
  margin-top: 6rem;
  padding-right: 5rem;
}

.main-wrapper {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
