.home-wrapper {
  min-height: 100vh;
  width: 100%;
}

.userpost {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filter-container {
  width: 100%;
  text-align: end;
}

.filter-icon {
  color: var(--txt-color);
  margin-left: auto;
}

.filter-option {
  font-size: 1.3rem;
  padding: 1rem 2rem;
}
