.profile-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: var(--secondary-color);
}

.edit-profile-container::-webkit-scrollbar {
  display: none;
}

.edit-profile-container {
  height: 60rem;
  width: 60rem;
  border-radius: 15px;

  overflow: auto;
}

.field-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--txt-color);
}

.field-name {
  display: flex;
  gap: 2rem;
}

.txt-field {
  flex: 1;
}

.save-btn-container {
  text-align: end;
  padding-right: 2rem;
}

.file-chooser {
  display: none;
}

@media only screen and (max-width: 680px) {
  .profile-modal-content {
    width: 50rem;
  }
}

@media only screen and (max-width: 540px) {
  .profile-modal-content {
    width: 40rem;
  }
}

@media only screen and (max-width: 440px) {
  .profile-modal-content {
    width: 38rem;
  }
}
