.tabs {
  position: sticky;
  top: 6rem;
  background-color: var(--secondary-color);
  z-index: 5;
  overflow: scroll;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tabs .list-item {
  background-color: transparent;
  cursor: pointer;
  flex: 1;
  text-align: center;
  font-weight: 500;
  color: var(--txt-color);
}

.tabs .list-item:hover {
  background-color: var(--border-color);
}
