.post-card {
  border-radius: 1.5rem;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.post-card-light {
  background-color: var(--secondary-color);
}

.post-details {
  width: 100%;
}

.post-input {
  padding-left: 2rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 10rem;
  resize: none;
}

.post-input:focus {
  outline: none;
}

.post-actions-container {
  display: flex;
  justify-content: flex-end;
}

.post-icon-container {
  display: flex;
  gap: 1rem;
}

.post-icon {
  color: var(--txt-color);
}
