/* Light */
:root {
  --primary-color: #048434;
  --primary-color-light: #c7fcde;
  --primary-color-dark: #046328;
  --secondary-color: #fff;
  --secondary-color-light: #f5f7f8;
  --txt-color: #424b54;
  --txt-color-light: #a1a5aa;
  --border-color: #d0d4d9;
  --border-color-light: #f5f7f8;
  --bg-color-light: #f7f7f7;
  --danger-color: #f14b4b;
  --secondary-color-darkmode: #203239;
  --txt-color-darkmode: #e3e7e0;
}

/* Dark */
[data-theme="dark"] {
  --primary-color: #048434;
  --primary-color-light: #c7fcde;
  --primary-color-dark: #046328;
  --secondary-color: #203239;
  --secondary-color-light: #22363e;
  --txt-color: #e3e7e0;
  --txt-color-light: #bcbec1;
  --border-color: #d0d4d9;
  --border-color-light: #f5f7f8;
  --bg-color-light: #141e27;
  --danger-color: #f14b4b;
}

html {
  font-size: 62.5%;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  color: var(--txt-color);
}

.App {
  height: 100vh;
}

/* Utils */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t5 {
  font-size: 1.2rem;
}

.pointer {
  cursor: pointer;
}

.danger-color {
  color: var(--danger-color);
}

.container-darkmode {
  background-color: var(--secondary-color-darkmode);
  color: var(--txt-color-darkmode);
}

.container-lightmode {
  background-color: var(--txt-color-darkmode);
  color: var(--secondary-color-darkmode);
}
