.new-comment-card {
  display: flex;
  width: 100%;
  border-radius: 15px;
}

.new-comment-card .post-input {
  height: 6rem;
}

.new-comment-card .post-actions-container {
  text-align: end;
  justify-content: space-between;
}
